*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}



body{
  font-family: "Nunito",sans-serif;
  background: #f8f8f8;
}

#outterContainer{
  background-color: gray;
  display: flex;
}

#innerContainer1{
  background-color: green;
  width: 20em;
}

#innerinnerContainer1 {
  background-color: indigo;
}

#innerContainer2 {
  margin-left: 20em;
  margin-top: 0em;

}

.input{
  text-align: center;
  margin: 100px auto;
}

input[type="submit"]{
  padding: 15px 30px;
  background: #e7e7e7;
  border: none;
  border-radius: 1px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 20px;
}

.input input[type="text"]{
  width: 600px;
  height: 55px;
  padding: 5px 10px;
  background: #e7e7e7;
  border: none;
  border-radius: 1px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 20px;
}

.forecastContainer {
  margin-top: 5em;
  margin-left: -20em;
  display: flex;
}


.box {
  background-color: red;

}

.todayWeather {
  margin-top: 5em;
  margin-left: -20em;
  background-color: chocolate;

}

.city {
  border:2px solid chocolate;
  background-color: chartreuse;
}

